.negatives {
    border-right: 1px solid #eee;
}
.balance-header {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
.balance {
    margin: 5px 0 10px;
}
.total-header {
    background-color: #eee;
    text-align: center;
    margin: 15px 0;
}
.total-header .total-balance {
    border-left: 1px solid #888;
}
.total-header .total-balance:first-child {
    border-left: none;
}
.header-row button {
    margin-top: 20px;
}