<div class="col-sm-4" *ngIf="friend">
    <h2>Edit friend info</h2>
    <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
        <div class="form-group">
            <label for="name">Email address</label>
            <input type="text" class="form-control" id="email" 
                required
                [(ngModel)]="friend.email" name="email">
        </div>
        
        <button (click)="cancel()">Cancel</button>
        <button [disabled]="!groupForm.form.valid">Save changes</button>
    </form>
</div>