<h4>Group Balances</h4>
<ul class="balances">
    <li *ngFor="let balance of balances" (click)="gotoDetail(balance.friend)">
        <ng-template #toolTipTemplate>
            <div [innerHtml]="getTooltip(balance.friend)"></div>
        </ng-template>
        <div [tooltip]="!balance.friend.email ? toolTipTemplate : ''">
            {{balance.friend.name}}
            <span *ngIf="!balance.friend.email" class="glyphicon glyphicon-alert"></span>
        </div>
        <div *ngIf="balance.amount == 0">
            <span>settled up</span>
        </div>
        <div *ngIf="balance.amount !== 0"
                [ngClass]="addClass(balance.amount)">
            <span *ngIf="balance.amount > 0">gets back </span>
            <span *ngIf="balance.amount < 0">owes </span>
            {{balance.amount | makePositive | currency:'USD':true:'1.2-2' }}
        </div>
    </li>
</ul>